div {
	margin: 0;
	padding: 0;
}
#wrapper{
	width: 800px;
	height: 800px;
	margin: 0 auto;
}
#wrapper div{
	display: inline-block;
	width: 100px;
	height: 100px;
}
.red{
	background: red;
}
.black{
	background: black;
}
